.grid {
  @apply
    height-full
    flex
    flex-col
    justify-center
    pd-m0
    gap-s--;

  margin: auto;
  overflow: scroll
}

.panel {
  @apply
    bg-srf
    round-m--
    pd-m--
    inset-be-m0
    flex flex-col gap-s+ justify-center;
}

.grid2 {
  @apply
    flex
    flex-col
    justify-start
    gap-s--;
}

.card {
  @apply
    flex-1
    flex
    flex-col
    justify-between
    bg-srf
    round-m--
    pd-m--
    gap-m0;

  overflow: hidden;

  & canvas {
    width: 100%;
  }
}

.label {
  @apply flex flex-col gap-s-;
}

@media (orientation: landscape) {
  .grid {
    aspect-ratio: 1/1;
  }
}

@media (min-width: 800px) {
  .grid2 {
    @apply
      flex-row;
  }
}
